body {
    font-family: 'Dosis';
    font-size: 22px;
}

h1 {
    font-family: "Amatic SC";
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h2 {
    font-family: "Amatic SC";
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    line-height: 22.4px;
}

h3 {
    font-family: "Dosis";
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 15.4px;
}

p {
    font-family: "Dosis";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: "Dosis";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Dosis";
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.site-title {
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 30px;
}

.site-title a {
    text-decoration: none;
    color: black;
}

.site-description {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.menu-navigation {
    font-family: 'Dosis';
    font-weight: 200;
    margin-left: -6px; /*двигаем вправо/влево из-за padding списка menu-navigation li a*/
    margin-right: -6px;
}

.menu-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-navigation li {
    float: left;
}

.menu-navigation li a {
    display: block;
    color: black;
    text-allign: center;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
}

.menu-navigation-site {
    font-size: 16px;
    text-transform: uppercase;
}

.menu-navigation-site li a:hover {
    color: rgba(0, 196, 164, 0.8);
}

.menu-navigation-socials {
    float: right;
}

.footer-table-info {
    background-color: #d9dcd9;
    color: #000;
    margin: 0 auto;
}

.blog-post, .post {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 30px 50px 80px 50px;
    border: solid 2px #000000;
}

.blog-post-header, .post-header {
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 5px;
    padding-bottom: 40px;
    font-weight: 600;
}

.blog-post-description, .post-description {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 30px;
}

.blog-post-snippet {
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 12px;
}

.blog-post-share {
    float: left;
    font-size: 16px;
    padding: 15px 0 5px;
}

.blog-post-share-socials {
    display: inline-block;
}

.blog-post-share-socials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-post-share-socials li {
    float: left;
}

.blog-post-share-socials li a {
    padding-left: 2px;
    padding-right: 2px;
}

.blog-post-read-more {
    float: right;
    text-decoration: underline;
    font-size: 16px;
    padding: 15px 0 5px;
}

.blog-post-read-more a {
    color: black;
}

.blog-page-selector {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 20px;
    padding: 10px 0 20px;
}

.blog-page-selector a {
    text-decoration: none;
    color: black;
}

.blog-page-selector a:hover {
    text-decoration: underline;
}

.blog-page-selector-home {
    margin-left: 100px; /*хак чтобы сдвинуть home в центр над футером*/
    text-align: center;
}

.blog-page-selector-older-posts {
    width: 100px;
    float: right;
    text-align: right;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-bottom: -15px;
}

.post-page-selector-never-post {
    display: inline;
    float: left;
}

.post-page-selector-home {
    display: inline;
}

.post-page-selector-older-post {
    display: inline;
    float: right;
}

.post-content {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
}

.container {
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto 25px auto;
    border-bottom: solid 2px #000000;
}

.container > div {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 20px 0;
}