html {
    overflow-x: hidden;
    margin-left: calc(1 * (100vw - 100%));
    height: 100%;
}

body {
    font-family: 'Dosis';
    font-size: 22px;
    min-height: 100%;
    position: relative;
}

h1 {
    font-family: "Amatic SC";
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}

h2 {
    font-family: "Amatic SC";
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    line-height: 22px;
}

h3 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 20px;
}

h4 {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 18px;
}

strong {
    font-weight: 800;
}

b {
    font-weight: 800;
}

i {
    font-style: italic;
}

em {
    font-style: italic;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

li {
    display: list-item;
}

.site-title {
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 30px;
}

.site-title a {
    text-decoration: none;
    color: black;
}

.site-description {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.menu-navigation {
    font-family: 'Dosis';
    font-weight: 200;
    margin-left: -6px; /*двигаем вправо/влево из-за padding списка menu-navigation li a*/
    margin-right: -6px;
}

.menu-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-navigation li {
    float: left;
}

.menu-navigation li a {
    display: block;
    color: black;
    text-allign: center;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
}

.menu-navigation-site {
    font-size: 16px;
    text-transform: uppercase;
}

.menu-navigation-site li a:hover {
    color: rgba(0, 196, 164, 0.8);
}

.menu-navigation-socials {
    float: right;
}

.blog-post, .post {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 50px 80px 50px;
    border: solid 2px #000000;
}

.blog-post-header, .post-header {
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 5px;
    padding-bottom: 40px;
    font-weight: 600;
}

.blog-post-description, .post-description {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 30px;
}

.blog-post-snippet {
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 12px;
}

.blog-post-share {
    float: left;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.blog-post-share-socials {
    display: inline-block;
}

.blog-post-share-socials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blog-post-share-socials li {
    float: left;
}

.blog-post-share-socials li a {
    padding-left: 2px;
    padding-right: 2px;
}

.blog-post-read-more {
    float: right;
    text-decoration: underline;
    font-size: 16px;
    padding: 15px 0 5px;
}

.blog-post-read-more a {
    color: black;
}

#blog-page-selector {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 60px;
}

#blog-page-selector a {
    text-decoration: none;
    color: black;
}

#blog-page-selector a:hover {
    text-decoration: underline;
}

#blog-page-selector-newer-posts {
    text-align: left;
    float: left;
    width: 100px;
}

.has-no-posts {
    display: none;
}

#blog-page-selector-home {
    margin: 0 auto;
    width: 100px;
}

#blog-page-selector-older-posts {
    text-align: right;
    float: right;
    width: 100px;
}

#footer {
    padding-top: 80px;
    width: 1000px;
    position: absolute;
    bottom: 0;
}

.footer-copyright {
    border-bottom: solid 2px #000000;
    text-align: center;
    font-size: 14px;
}

.footer-copyright p {
    padding: 4px 0 4px 0;
}

.post-page-selector-never-post {
    width: 100px;
    text-align: left;
    display: inline;
    float: left;
}

.post-page-selector-home {
    display: inline;
}

.post-page-selector-older-post {
    width: 100px;
    display: inline;
    text-align: right;
    float: right;
}

.post-content {
    font-family: "Times New Roman";
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.post-related-posts {
    overflow: hidden;
    margin-top: 20px;
}

.post-related-posts-thumbnail {
    display: block;
    float: left;
    width: 120px;
    padding: 0 10px 0 10px;
}

.post-related-posts-thumbnail img {
    width: 100%;
    height: auto;
}

.post-related-posts-thumbnails-desc {
    padding-top: 5px;
    font-size: 16px;
    text-align: left;
}

.post-related-posts-thumbnails-desc a {
    text-decoration: none;
    color: #000000;
}

#container {
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto 0 auto;
}

#container > div {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 10px 0 10px 0;
}