{{define "post"}}
    <!DOCTYPE html>
    <html lang="ru">
    {{ template "head" . }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <body>
    <div class="container wrapper post">
        {{ template "header" . }}

        <div class="post-header">
            <h1 class="title">{{ .Data.Post.Title }}</h1>
            <div class="meta">Posted at &mdash; {{ formatTime .Data.Post.Date }}</div>
        </div>

        <div id="content">
            {{ .Data.Post.Content }}
        </div>

        <br>
        <hr>

        <script src="https://utteranc.es/client.js"
                repo="blinky-z/BlogComments"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{end}}