{{define "post"}}
    <!DOCTYPE html>
    <html lang="ru">
    {{ template "head" . }}
    <body>
    <div class="container wrapper post">
        {{ template "header" . }}

        <div class="post-header">
            <h1 class="title">{{ .Data.Post.Title }}</h1>
            <div class="meta">Posted at &mdash; {{ convertTime .Data.Post.Date }}</div>
        </div>

        <div class="markdown">
            {{ .Data.Post.Content }}
        </div>

        <br>
        <hr>

        <script src="https://utteranc.es/client.js"
                repo="blinky-z/BlogComments"
                issue-term="pathname"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{end}}