.post-editor {
    margin: 20px auto 0 auto;
    width: 600px;
}

.post-editor-title {

}

.autoExpand.title-textarea {
    width: 100%;
    background: white;
    color: black;
    font-family: 'Noto Serif';
    padding: 10px 7px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.autoExpand.title-textarea:focus:hover {
    outline: 2px solid #016087;
}

.post-editor-content {
    margin: 20px auto 15px auto;
}

.autoExpand.content-textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 4px solid #111;
    background: white;
    color: black;
    overflow: auto;
    max-height: 100%;
    font-family: 'Noto Serif';
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
}

.meta-description-textarea, .meta-keywords-textarea {
    background: white;
    color: black;
    font-family: 'Noto Serif';
    padding: 2px;

    font-weight: 300;

    display: block;
    box-sizing: border-box;
    overflow: hidden;

    border: 0;
    outline: none;
    width: 100%;
    resize: none;

    font-size: 16px;

    word-break: break-word;
}

.postButtonWrap {
    padding: 15px 0;
}

.post-editor button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.post-editor button:hover {
    box-shadow: 1px 1px 5px #555;
}

.post-editor button:active {
    box-shadow: 1px 1px 7px #222;
}