{{define "admin-editor"}}
    <!DOCTYPE html>
    <html lang="ru">
    {{ template "head" . }}
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"/>
    <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/tagify.css"/>
    <script src="/js/tagify.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/admin.css"/>
    <script src="/js/admin.js"></script>
    <body>
    <div class="container wrapper admin-dash">
        {{ template "header" . }}

        <div class="back-to-dash-wrapper">
            <a href="/">← Back to Admin Dashboard</a>
        </div>

        <div class="editor">
            <form class="form-style-1">
                <ul>
                    <li>
                        <label for="title">Title</label>
                        <input type="text" id="title" class="field-long" maxlength="300" value="{{.Data.Post.Title}}">
                    </li>
                    <li>
                        <label for="metaDescription">Meta description</label>
                        <input type="text" id="metaDescription" class="field-long" maxlength="400"
                               value="{{.Data.Post.Metadata.Description}}">
                    </li>
                    <li>
                        <label for="metaKeywords">Meta keywords</label>
                        <input type="text" id="metaKeywords" class="field-long" maxlength="400"
                               value="{{sliceToString .Data.Post.Metadata.Keywords}}">
                    </li>
                    <li>
                        <label for="tags">Tags</label>
                        <input type="text" id="tags" class="field-long" data-allTags="{{sliceToString .Data.Tags}}"
                               maxlength="400"
                               value="{{sliceToString .Data.Post.Tags}}">
                    </li>
                </ul>
            </form>

            {{if .Data.PostPresent}}
                <div class="button-wrapper">
                    <button onclick="updateFromServer(this)" data-id="{{.Data.Post.ID}}">Update from server</button>
                </div>
            {{end}}
            <div id="contentTemp" data-postID="{{.Data.Post.ID}}" style="display: none">
                {{.Data.Post.Snippet}}
                {{ "&lt;cut&gt;" }}
                {{.Data.Post.Content}}
            </div>
            <div id="editSection"></div>

            <div class="button-wrapper">
                <button onclick="publishPost(this, '{{.Domain.String}}')" data-id="{{.Data.Post.ID}}">Publish</button>
            </div>
        </div>
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{end}}