{{define "admin-manage-posts"}}
    <!DOCTYPE html>
    <html lang="ru">
    {{ template "head" . }}
    <link rel="stylesheet" type="text/css" media="screen" href="/css/admin.css"/>
    <script src="/js/admin.js"></script>
    <body>
    <div class="container wrapper">
        {{ template "header" . }}

        <h1>Manage posts</h1>

        <ul class="posts manage-posts">
            {{$domain := .Domain.String}}
            {{ range .Data.Posts }}
                <li class="post">
                    <a href="{{$domain}}/posts/{{.ID}}">{{.Title}}</a>
                    <span class="meta">{{ formatTime .Date }}</span>
                    <div class="manage-links" data-id="{{.ID}}">
                        <a href="#" onclick="deletePost(this)">Delete</a>
                        <a href="/editor?id={{.ID}}">Edit</a>
                    </div>
                </li>
            {{- end -}}
        </ul>

        <div class="page-selector">
            <nav>
                <ul class="flat">
                    {{if .Data.PageSelector.HasNewerPosts}}
                        <li class="page-selector newer-posts"><a href="{{.Data.PageSelector.NewerPostsLink}}">Newer
                                Posts</a>
                        </li>
                    {{else}}
                        <li class="page selector has-no-posts"></li>
                    {{end}}
                    {{if .Data.PageSelector.HasOlderPosts}}
                        <li class="page-selector older-posts"><a href="{{.Data.PageSelector.OlderPostsLink}}">Older
                                Posts</a>
                        </li>
                    {{else}}
                        <li class="page selector has-no-posts"></li>
                    {{end}}
                </ul>
            </nav>
        </div>
    </div>
    {{ template "footer" . }}
    </body>
    </html>
{{end}}