{{define "comment"}}
    {{$comment := index . 0}}
    {{$isAdmin := index . 1}}
    {{$creationTime := convertTime $comment.Date}}
    <li id="{{$comment.ID}}" class="comment">
        <div class="comment-block">
            <div class="comment-header">
                <div class="username"><a href="#" onclick="return false;"
                                         rel="nofollow"><b>{{$comment.Author}}</b></a>
                </div>
                <div class="creation-time"><a href="#" onclick="return false;"
                                              rel="nofollow">{{$creationTime}}</a>
                </div>
            </div>
            <p class="comment-content">{{$comment.Content}}</p>
            <div class="comment-actions">
                <ul>
                    <li class="reply-comment-button">
                        <a class="comment-reply" data-comment-id="{{$comment.ID}}"
                           href="#" onclick="showCommentReplyBox(this); return false;" data-opened="false">Reply</a>
                    </li>
                    {{if $isAdmin}}
                        <li class="edit-comment-button">
                            <a class="comment-edit" data-comment-id="{{$comment.ID}}"
                               href="#" onclick="editComment(this); return false;" data-opened="false">Edit</a>
                        </li>
                        <li class="delete-comment-button">
                            <a class="comment-delete" data-comment-id="{{$comment.ID}}"
                               href="#" onclick="deleteComment(this); return false;">Delete</a>
                        </li>
                    {{end}}
                </ul>
                <div style="clear: both"></div>
            </div>
        </div>
    </li>
{{end}}