{{define "comments-list"}}
    {{$comment := index . 0}}
    {{$level := index . 1}}
    {{$isAdmin := index . 2}}
    {{template "comment" args $comment $isAdmin}}
    {{if $comment.Childs}}
        {{if ne $level 5}}
            {{range $comment.Childs}}
                <ul>
                    {{$nextLevel := inc $level}}
                    {{template "comments-list" args . $nextLevel $isAdmin}}
                </ul>
            {{end}}
        {{else}}
            {{range $comment.Childs}}
                {{template "comments-list" args . $level $isAdmin}}
            {{end}}
        {{end}}
    {{end}}
{{end}}